*.rbf
*.swp
*.ufp
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.qdf
*.qpg
*.qdb
*.qtl
*.fcs
*.~vsdx
*.wlf
*.local
*.stcfg
*.cbf
*.vtesettings
*.xpa

quartus/SYN/db
quartus/SYN/incremental_db/