*.rbf
*.swp
*.ufp
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.qdf
*.qpg
*.qdb
*.qtl
*.fcs
*.~vsdx
*.wlf
*.local
*.stcfg
*.cbf
*.vtesettings
*.xpa

questa/work/_vmake
questa/work/@_opt
questa/work/@_opt1
questa/work/@_opt2
questa/work/_opt1
questa/work/_opt2

quartus/SYN/db
quartus/SYN/incremental_db/
quartus/SYN/greybox_tmp